// suggested configuration to work with lsf workload manager
// see https://www.nextflow.io/docs/latest/executor.html
process {
    executor = 'lsf'
    maxForks = 100
    cpus = 1
    memory = '1 GB'
    time = '1h'
}
process {
    withLabel:medium_task {
        time = '2h'
        memory = '10 GB'
        maxForks = 20
    }
}
process {
    withLabel:big_task {
        time = '4h'
        memory = '40 GB'
        maxForks = 10
    }    
}

params.cpus = process.cpus
conda.enabled = true
conda.useMamba = true

// below choose whether the analysis with the ncbi and/or gtdb taxonomy are run 
params.gtdb = true
params.ncbi = true

// https://www.nextflow.io/docs/latest/reference/process.html#publishdir
params.publish_mode = 'symlink'

// params specific to prepare references
// quality filtering on the gtdb metadata
params.checkm_minimum_completeness = 90
params.checkm_maximum_contamination = 10
params.exclude_envs_and_mag = false

// after grouping by taxonomy, limit the number of genomes to process in a group
// a random selection of n will be done, the other entries will be ignored and thus never downloaded
params.max_nb_genomes_per_group_to_process = 1000

// after clustering the genomes of a group, number of representative to keep per group
params.max_nb_representatives_per_group_to_keep = 100

// option for controlling the download
// dl are grouped in batch of n genomes to enhance speed
// if a genome is problematic though,
// it will cause the whole group to fail
params.max_dl_per_request = 50

// same for json download to obtain ncbi metadata
params.max_json_per_query = 100

// when you first run the prepare_database script, keep the following to false. 
// it will try downloading all genomes. If you retry with nexflow run -resume, it will try again for those that failed.
// it will not proceed with the clustering steps until you turn this parameter to true, indicating that it should stop obtaining those that failed.
// once true, the whole database preparation process will take place with the genome that could be obtained
params.downloads_validated = false

// if you have a ncbi api key, it will use the nb of concurent jobs you indicated. If not it will make only one dl at a time.
// params.apikey = 'my_api_key'
params.apikeynjobs = 10

// params for running analysis
// number of species to test in the species specific step
params.nspecies = 10
